{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>MI Security | Seguridad privada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}">
</head>

<body>

    <header class="navbar">
        <div class="logo-box">
            <img src="{% static 'website/img/logo.png' %}" alt="MI Security" class="logo">
            <div>
                <h1>MI SECURITY</h1>
                <span>Security without limit</span>
            </div>
        </div>

        <nav>

            <a href="#">
                Inicio
            </a>

            <a href="#servicios">
                Servicios
            </a>

            <a href="#nosotros">
                Nosotros
            </a>


            <a href="/remitos/" class="admin-link">
                Panel interno
            </a>

        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>



    <a class="whatsapp"
        href="https://wa.me/5491162036480?text=Hola,%20quiero%20consultar%20sobre%20los%20servicios%20de%20seguridad."
        target="_blank">
        <i class="fa-brands fa-whatsapp"></i> </a>

    <footer class="footer">
        <div>
            <h3>MI SECURITY</h3>
            <p>Soluciones de seguridad profesional para empresas, eventos y operaciones privadas.</p>
        </div>

        <div>

            <h4>Navegación</h4>

            <a href="#">
                Inicio
            </a>

            <a href="#servicios">
                Servicios
            </a>

            <a href="#nosotros">
                Nosotros
            </a>

        </div>

        <div>
            <h4>Contacto</h4>
            <p>CABA, Buenos Aires</p>
            <p>+54 11 62036480</p>
            <p>info@misecurity.com.ar</p>
        </div>
    </footer>

</body>

</html>